<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ACRSEntities" connectionString="metadata=res://*/Entities.ACRSModel.csdl|res://*/Entities.ACRSModel.ssdl|res://*/Entities.ACRSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ACRS;user id=sa;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ReportUsername" value="administrator" />
    <add key="ReportPassword" value="adm!ns0lentive" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
	</system.web>
</configuration>